body {
    background-color: #272727;
}
#block {
    width: 450px;
    height: 620px;
    background-color: #161616;
    margin: 10px auto 0px auto;
    border-left: 5px solid green;
    border-radius: 10px;
}
#iconka {
    width: 65px;
    height: 45px;
    background-color: #272727;
    border-left: 5px solid orangered;
    border-top: 2px solid orangered;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
}